header {
    padding: 3rem 0;
}

header ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 0 0 3rem;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
   

}


header a:hover {
    transform: scale(1.2);
}